body {
    text-align: center;
    background-image: url(https://static3.marialunarillos.com/media/catalog/product/cache/1/image/715x715/9df78eab33525d08d6e5fb8d27136e95/c/a/campo-de-f_tbol.jpg);
    background-repeat: no-repeat;
    background-color: white;
    background-position: 30vw 30vw;
    background-size: 40vw;
}